@{
    ViewBag.Title = "STAR.NET";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Jesteśmy sklepem z elektroniką od 33 lat.</p>
<p>

    Jesteśmy w stanie doradzić, sprzedać i serwisować każdą elektronikę. Kilkudziesięciu klientów z całego kraju stanowi doskonałą referencję.

    Na terenie całego kraju prowadzimy szkolenia z zakresu między innymi: obsługi kas fiskalnych, obsługa komputera, język rosyjski, obsługa programów magazynowych.

    Detaliczny handel elekroniką, akcesoriami i zestawami komputerowymi to nasze początki i nasza przyszłość.
</p>
