@{
    ViewBag.Title = "ZAWSZE POMOŻEMY";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>


   


    Ul. Złota 44<br />
    00-120 Warszwa<br />
    <abbr title="Phone">Kontakt telefoniczny pod numerami:</abbr>
    tel. +48 (24) 254-97-94
    gsm. +48 607-895-480

    e-mail: office@starnet.pl

    NIP: 775-23-39-176
    Regon: 472881897
    Konto: 65 1020 3440 0000 7202 0015 3866
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:office@starnet.pl">office@starnet.pl</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@starnet.pl">Marketing@starnet.pl</a>
</address>