@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/ICons/starnet.png" width="662" height="137" alt="StarNet S.C.">

    <h2>STARNET TO NAJSTARSZY SKLEP TELEINFORMATYCZNY. NASZA TRADYCJA SIĘGA 1989 ROKU</h2>


    <div>
        <h2>Kim jesteśmy</h2>
        <p>

            Jesteśmy w stanie doradzić, sprzedać i serwisować każdą elektronikę. Kilkudziesięciu klientów z całego kraju stanowi doskonałą referencję.

            Na terenie całego kraju prowadzimy szkolenia z zakresu między innymi: obsługi kas fiskalnych, obsługa komputera, język rosyjski, obsługa programów magazynowych.

            Detaliczny handel elekroniką, akcesoriami i zestawami komputerowymi to nasze początki, terazniejszość i nasza przyszłość.
        </p>
    </div>
    <!--
         <div class="row">
     <div class="col-md-4">


     </div>
        <div class="col-md-4">
         <h2>Get more libraries</h2>
         <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
         <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
     </div>-->
    <!--<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Rozwiązania serwerowe i wirtualizacja</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>-->
</div>